
*::selection{
margin: 0;
box-sizing: border-box;
padding: 0;
background-color: white;
color: rgb(251, 251, 251);
}
body  {
  background-color: salmon;
  font-family: Arial;
}
.card {
width: 300px;
margin: 40px auto;
background-color: aliceblue;
padding: 20px;
box-shadow: -20px -20px -0px -0px;
border-radius: 10px;

}
.card_title{
margin: 14px auto;
text-align: center;

}
.card_title::after, .card_title::before{
content: ''; 
display: inline-block;
width: 10%;
height: 3px;
padding: 2px;
background-color: salmon;

}

p::first-letter{
color: salmon;
text-transform: capitalize;
font-size: 2rem;
font-weight: bold 900;

}
p::first-line{
  color: blue;
  font-size: 2rem;
  font-weight: bold;
}
ul {
  counter-reset: contador;
  list-style-type: none;
  margin-bottom:  10px;
  padding: 0;
}
li{
margin-bottom: 10px;
padding: 0;
list-style-type: none;
}
li::before{
  content: counter(contador);
  counter-increment: contador; background-color: salmon;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: white;
  margin-right: 4px;
}
.card_text {
margin-bottom: 10px auto;

}



