*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body {
font-family: Arial, Helvetica, sans-serif;
height: 300vh;

}
.container{
width: 450px;
height: 530px;
margin: 20px auto;
border: 5px solid crimson;
}
.box{
width: 100px;
background-color: coral;
height: 100px;
margin: 20px 0 0 20px;
text-align: center;
font-weight: bold;
line-height: 100px;
color: aliceblue;

}
/*.static {
  position: relative;
  top: 40px;

}
.relativo{
  position: relative;
  top: 0px;
  left: 200px;
}*/
.absolute {
  position: absolute;
  top: 0;

}
.fixed {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
}



