* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
  }
  
  
  body {
    padding: 40px;
    display: block;
    background-color: black;
  }
  
  .galeria {
    max-width: 1200px;
    margin-top: 25px;
    border-color: aqua;
  }
  
  .card {
    display: inline-block;
    background-color: #000000;
    border: 2px solid #15f80d;
    border-radius: 8px;
    padding: 2px;
    width: 350px; 
    height: 480px;
    margin: 8px; 
    vertical-align: top;

  }
  
  img {
    display: block;
    width: 150px;
    height: 250px;
    margin: 0px 0px 0px 100px;
    filter: drop-shadow(0 0 4px rgb(255, 0, 0))
  }
  
  h1 {
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 9px 0;
    text-align: left;
    font-size: 25px;
  }
  
  p {
    padding: 0px;
    text-align: justify;
    color: rgb(9, 124, 24);
  }